# LLM API Keys
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
COHERE_API_KEY=
UPSTAGE_API_KEY=

# Vector DB (Qdrant)
QDRANT_HOST=localhost
QDRANT_PORT=6333

# PostgreSQL
POSTGRES_URI=
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=



